image: ubuntu:25.10

stages:
  - build
  - test
  - report

build:
  stage: build
  before_script:
    - apt update
    - apt install -y cmake build-essential make gcc git libsfml-dev libudev-dev libopenal-dev libvorbis-dev libflac-dev libx11-dev xserver-xorg-dev xorg-dev
  script:
    - make build
  artifacts:
    paths:
      - cmake-build-debug/

test:
  stage: test
  dependencies:
    - build
  before_script:
    - apt update
    - apt install -y cmake build-essential make gcc git libsfml-dev libudev-dev libopenal-dev libvorbis-dev libflac-dev libx11-dev xserver-xorg-dev xorg-dev
  script:
    - make run_cicd
  artifacts:
    paths:
      - timeLog.csv
      - raytraced.jpg

report:
  stage: report
  dependencies:
    - test
  before_script:
    - apt update
    - apt install -y make python3 python3-pip python3.13-venv
  script:
    - python3 -m venv .venv
    - source .venv/bin/activate
    - make python_prep
    - make report
  artifacts:
    paths:
      - speedup.html
      - timelog_plot.html