image: ubuntu:25.10


build:
  before_script:
    - apt update
    - apt install -y cmake build-essential make gcc git libsfml-dev libudev-dev libopenal-dev libvorbis-dev libflac-dev libx11-dev xserver-xorg-dev xorg-dev
  script:
    - make build
    - make run
  artifacts:
    paths:
      - timeLog.csv